.dealDetails {
  display: flex;
  width: 80vw;
  height: 70vh;
  max-width: 1050px;
  max-height: 630px;
  gap: 12px;
}

.cover {
  height: 100%;
  min-width: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details .title {
  font-size: 40px;
  font-weight: 700;
}

.details .description {
  font-size: 16px;
  font-weight: 400;
}

.details .tagsTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.details .tags {
  display: flex;
  gap: 8px;
}

.button {
  margin-top: auto;
}
