.salesSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
}

.salesSection h2 {
  font-size: 24px;
  font-weight: 700;
}

.salesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  width: 100%;
  justify-content: start;
  column-gap: 24px;
  row-gap: 36px;
}

.salesButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1310px) {
  .salesContainer {
    justify-content: center;
  }
}
