.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40vw;
}

.disclaimer-title {
  font-size: 2rem;
  font-weight: 600;
}

.disclaimer-text {
  font-size: 1rem;
  line-height: 1.75rem;

  & > span {
    display: block;
    margin: 0.5rem;
  }
}
