.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: fit-content;
  padding: 4px;

  margin-top: 24px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  background-color: var(--color-bg);
}

.footer a {
  font-weight: 500;
}

.footer a:hover {
  color: var(--color-main);
}

.disclaimer {
  align-self: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 420px;
  text-align: start;
}
