.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 50px;

  margin-top: 24px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  background-color: var(--color-bg);
}

.footer a {
  font-weight: 500;
}

.footer a:hover {
  color: var(--color-main);
}
