.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;

  background-color: var(--color-bg);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
}

.logo img {
  width: 32px;
}
