.notificationSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
