.saleCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}

.saleCardImage {
  position: relative;
  width: 400px;
  height: 187px;
  border-radius: 8px;
  background-color: red;
}

.salePercent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 8px;
  background-color: #00290acc;
  color: #00ff6a;
  border-radius: 0 8px 0 8px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.4;
}

.saleGame {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.saleInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.saleInfo p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.6;
}

.saleCard:hover {
  transform: translateY(-8px);
}

.saleCard:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 8px;
  background: transparent;
}
