.dealCard {
  --easing: cubic-bezier(0.23, 1, 0.32, 1);

  display: flex;
  flex-direction: column;
  height: 340px;
  width: 212px;
  min-width: 212px;
  min-height: 340px;
  max-width: 212px;
  max-height: 340px;
  border: 4px solid var(--color-theme);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s var(--easing), border-color 0.2s var(--easing);
}

.dealCard:hover {
  cursor: pointer;
  transform: scale(105%);
  border-color: var(--color-main);
}

/* platform colors */
.dealCard[main-platform="steam"] {
  --color-theme: var(--color-theme-steam);
}

.dealCard[main-platform="epicgames"] {
  --color-theme: var(--color-theme-epicgames);
}

.dealCard[main-platform="gog"] {
  --color-theme: var(--color-theme-gog);
}

.dealImageContainer {
  position: relative;
  width: 100%;
  height: 212px;
  overflow: hidden;
}

.dealImageContainer img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.dealImageGradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 122px;
  background: linear-gradient(rgba(12, 12, 12, 0), var(--color-bg));
}

.dealDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;

  gap: 8px;

  flex-grow: 1;
  padding: 8px;
}

.dealInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 8px;
}

.dealTitleContainer {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
  height: 80px;
}

.dealTagContainer {
  display: flex;
  gap: 8px;
}
