.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 340px;
  gap: 24px;

  background-image: url("/hero.webp");
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
  width: 100%;
  height: fit-content;
  gap: 12px;
}

.heroTitle {
  font-size: 40px;
  font-weight: 700;
}

.heroDescription {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
