.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  max-width: 1248px;
  height: 520px;

  background-image: url("/hero_bg.png");
}

.heroTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
  font-family: Nippo-Variable;
  font-weight: 500;
  text-transform: uppercase;
}

.heroTitle .l1 {
  margin: 0;
  font-size: 4rem;
}
.heroTitle .l2 {
  margin-top: -1.5rem;
  font-size: 5.125rem;
}
