.dealsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.dealsSection h2 {
  font-size: 24px;
  font-weight: 700;
}

.dealsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 212px);
  width: 100%;
  max-width: 968px;
  justify-content: center;
  column-gap: 40px;
  row-gap: 50px;
}
