.dealsSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
}

.dealsSection h2 {
  font-size: 24px;
  font-weight: 700;
}

.dealsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 188px);
  width: 100%;
  justify-content: start;
  column-gap: 24px;
  row-gap: 24px;
}
