.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.popupWrapper {
  position: relative;
  background-color: var(--color-bg);
  border: 4px solid var(--color-main);
  border-radius: 8px;
  padding: 24;
}

.popupContainer > .popupWrapper > button.popupCloseButton {
  position: absolute;
  top: -16px;
  right: -16px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--color-main);
  width: 32px;
  height: 32px;
  transition: 0.2s ease;
  cursor: pointer;
}

.popupContainer > .popupWrapper > button.popupCloseButton img {
  transition: 0.2s ease;
}

.popupContainer > .popupWrapper > button.popupCloseButton:hover {
  background-color: var(--color-theme-default);
}

.popupContainer > .popupWrapper > button.popupCloseButton:hover img {
  filter: invert(1);
}
