@import url("./fonts/satoshi/satoshi.css");
@import url("./fonts/nippo/nippo.css");

:root {
  --color-main: #313cdd;
  --color-disabled: #262738;
  --color-theme-default: #ffffff;
  --color-theme-steam: #2441ff;
  --color-theme-epicgames: #ec7b19;
  --color-theme-gog: #9e19ec;
  --color-bg: #100f1d;
  --color-text: #ffffff;
  --color-text-dark: #121212;
  --color-sem-good: #54dd31;
  --color-sem-warn: #ddac31;
  --color-sem-bad: #dd4831;
  --color-sem-good-rgb: 84, 221, 49;
  --color-sem-warn-rgb: 221, 172, 49;
  --color-sem-bad-rgb: 221, 72, 49;
}

html {
  margin: auto;
}

html,
body {
  max-width: 1440px;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  padding: 0 24px;
  color: var(--color-text);
  background: var(--color-bg);
  font-family: Satoshi-Variable, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
