.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 8px;

  background-color: var(--color-main);
  color: var(--color-text);
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-theme-default);
  color: var(--color-text-dark);
}
