.tag {
  padding: 3px;
  font-size: 0.625rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-theme-default);
  color: var(--color-text-dark);
  border-radius: 6px;
}

.tag[main-platform] {
  background-color: var(--color-theme);
  color: var(--color-text);
}
