.feedback {
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--color-main);
  border-radius: 50%;

  cursor: pointer;
  transition: background 0.2s ease, filter 0.2s ease;
  animation: slideIn ease-out 0.5s;
}

.feedback:hover {
  background: #ffffff;
}

.feedback:hover img {
  filter: invert(1);
}

@keyframes slideIn {
  0% {
    transform: translateY(32px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
