.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.footer .copyright {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 200;
  color: white;
}
