.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-main);
  border-radius: 50%;

  cursor: pointer;
  transition: background 0.2s ease;
}

.bubble:hover {
  background-color: #ffffff;
}

.bubble:hover .bubble-icon {
  filter: invert(1);
}
