.dealPage {
  margin: 0 auto;
  max-width: 1248px;
}

.back {
  margin-top: 2rem;
}

.dealContainer {
  margin-top: 2rem;
  display: flex;
  gap: 50px;
}

.dealImage {
  height: 398px;
  aspect-ratio: 298/398;
  border-radius: 8px;
  object-fit: cover;
}

.dealWrapper {
  max-width: 29.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.dealDetails {
  max-width: 29.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dealTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-wrap: wrap;
}

.dealDescription {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-wrap: balance;
}

.dealTags {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.dealControls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
  max-width: 11.25rem;
}

.dealInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dealInfo p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.6;
}

.other {
  margin-top: 4rem;
  max-width: 1248px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.otherTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.otherWrapper {
  display: flex;
  width: 100%;
  gap: 24px;
}

@media screen and (max-width: 720px) {
  .dealContainer {
    flex-direction: column;
  }
}
